[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
pylint = "*"
pycodestyle = "*"
autopep8 = "*"
twine = "*"
sphinx = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"

[packages]
cryptography = "*"
argcomplete = "*"
numpy = "*"

[requires]
python_version = "3.6"
